{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Account</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>User Accounts</h1>
<div class="center">
    <br>
    <a href="{% url 'home' %}">
        <button class="backbutton">Home</button>
    </a>
    <br>
 {% if current_user.User_Pos == "Supervisor" and current_user.isLoggedIn == True%}
    <a href="{% url 'createaccount' %}">
        <button id="button4" class="goldbutton">Create New Account</button>
    </a>
{% endif %}
    <br>
    <br>
    <form action="{% url 'accountbase' id=user.id%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="method" value="searchUser">
        <input type="text" placeholder="Search By Last Name" name="search">
        <input type="submit"/>
    </form>
    <br>
    <form action="{% url 'accountbase' id=user.id%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="method" value="filterUser">
        <select name="position">
            <option disabled selected>Filter By Role</option>
            <option>All Roles</option>
            <option>Teaching Assistant</option>
            <option>Professor</option>
        </select>
        <input type="submit"/>
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Role</th>
{#            <th>Actions</th>#}
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.User_fName }} {{ user.User_lName }}</td>
                <td>{{ user.User_Pos }}</td>
                <div style="text-align: center;">
                    {% if current_user.User_Pos == "Supervisor" and current_user.isLoggedIn == True%}
                    <td id="table"><a href="{% url 'editaccount' id=user.id%}">
                        <button id="button1" class="goldbutton"><span class="material-symbols-outlined">edit</span>
                        </button>
                    </a>
                        <form action="{% url 'accountbase' id=user.id%}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="deleteUser">
                            <input type="hidden" name="username" value="{{ user.email }}">
                            <button id="button3" class="goldbutton" type="submit"><span
                                    class="material-symbols-outlined">delete</span></button>
                        </form>
                    </td>
                        {% else %}
                        <td></td>
                    {% endif %}
                </div>
            </tr>
        {% endfor %}
    </table>
    {{ message }}
</div>
</body>
</html>
