<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h1>User Accounts</h1>
    <input type="text" placeholder="Search User">
    <select placeholder="All Roles">
        <option>All Roles</option>
        <option>TA</option>
        <option>Professor</option>
    </select>
      <table>
    <tr><th>Name</th><th>Role</th>Actions</tr>
      </table>
  <button>Create New Account</button>
   <button>Edit Placeholder(Image will be added)</button>
   <button>Edit Placeholder(Image will be added)</button>
   <button>Home</button>
  </body>
</html>
