<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   {% block title %} Edit Course {% endblock %}
</head>
<body>
    <h1>Edit Course Page</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Course Name:</td>
                <label>
                    <input type="text" name="Course_Name" value="{{ course.Course_Name }}">
                </label>
            </tr>
            <tr>
                <td>Course Code:</td>
                <label>
                    <input type="text"  name="Course_Code" value="{{ course.Course_Code }}">
                </label>
            </tr>
            <tr>
                <td>Description:</td>
                <label>
                    <textarea  name="Course_Description">{{ course.Course_Description }}</textarea>
                </label>
            </tr>
            <tr>
                <td>Instructor:</td>
                <label>
                    <input type="text"  name="Course_Instructor" {% if course.Course_isOnline %} {% endif %}>
                </label>
            </tr>
            <tr>
                <td>Online:</td>
                <label>
                    <input type="text"  name="Course_isOnline" {% if course.Course_isOnline %} {% endif %}>
                </label>
            </tr>
            <tr>
                <td>Location:</td>
                <label>
                    <input type="text"  name="Course_Location" value="{{ course.Course_Location }}">
                </label>
            </tr>
        </table>
        <button type="submit">Save</button>
    </form>
</body>
</html>





