<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Course</title>
</head>
<body>
    <h1>Create Course</h1>
    <a href="/course_base"><button style="margin-left: 25px;">Back</button></a>
    <form action="/course_base/" method="post">{% csrf_token %}
        <table>
            <tr>
                <label>
                    <input type="text" name="course_name" placeholder="Enter Course Name">
                </label>
            </tr>
            <tr>
                <label>
                    <input type="text" name="course_code" placeholder="Enter Course Code">
                </label>
            </tr>
        </table>
        <label>
            <input type="text" name="course_desc" size="50" placeholder="Add Description...">
        </label>
{#        <br><a href="course_base"><button style="margin-left: 75px;">Cancel</button></a>#}
        <input type="submit" value="Create" style="margin-left: 50px;"/>
    </form>
</body>
</html>