<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Course</title>
</head>
<body>
    <h1>Create Course</h1>
    <a href="/course_base"><button style="margin-left: 20px;">Back</button></a><br>
    <form action="/course_base/" method="post">{% csrf_token %}
        <table style="border-spacing: 30px 0;">
            <tr>
                <td>
                    <input type="text" name="course_code" placeholder="Enter Course Code"
                           maxlength="3" minlength="3">
                    <input type="text" name="course_name" placeholder="Enter Course Name">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="course_desc" size="50" placeholder="Add Description...">
                </td>
            </tr>
            <tr>
                <td>
                    <select placeholder="Professor">
                    {% for user in users %}
                        {% if user.User_Pos == "Professor" %}
                        <option>{{ user.User_fName }} {{ user.User_lName }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Create" style="margin-left: 50px;"/>
    </form>
</body>
</html>