<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<a href="{% url "accountbase" %}">
    <button>Back</button>
</a>
<body>
<h1>Edit Account</h1>
<form action="{% url 'editaccount' id=user.id %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="firstname" value="{{user.User_fName}}"/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastname" value="{{user.User_lName}}"/></td>
            </tr>
        {% for this_user in all_users %}
        {% if this_user.User_Pos == "Supervisor" and this_user.isLoggedIn == True%}
            <tr>
                <td>Email</td>

                <td><input type="text" name="email" value="{{user.email}}"/></td>

            </tr>
                        {%  endif %}
        {% endfor %}
            <tr>
                <td>Password</td>
                <td><input type="text" name="password" value="{{user.User_LogPass}}"/></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" value="{{user.User_Address}}"/></td>
            </tr>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="city" value="{{user.User_City}}"/></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" name="number" value="{{user.User_Phone}}"/></td>
            </tr>
            </tr>
        {% for this_user in all_users %}
        {% if this_user.User_Pos == "Supervisor" and this_user.isLoggedIn == True%}
            <tr>
                <td>Position</td>
                <td>
                    <select name="position">
                        <option {% if user.User_Pos == "Supervisor" %}selected{% endif %} disabled>Supervisor</option>
                        <option {% if user.User_Pos == "Teaching Assistant" %}selected{% endif %}>Teaching Assistant</option>
                        <option {% if user.User_Pos == "Professor" %}selected{% endif %}>Professor</option>
                    </select>
                </td>
            </tr>
                        {%  endif %}
        {% endfor %}
        </table>
        <input class="goldbutton" type="submit"/>
    </form>
</body>
</html>