{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset
    ="UTF-8"/>
    <title>Title</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body style="text-align: center">

<h1>Welcome User!</h1>
<a href="{% url 'course_base' %}"><button class="goldbutton">Courses</button></a>
    <a href="{% url 'accountbase' %}"><button class="goldbutton">Account</button></a>
    <a href="{% url 'personal_information' %}"><button class="goldbutton">Personal Information</button></a>
    <a href="{% url 'view_teaching_assistant' %}"><button class="goldbutton">Teaching Assistants</button></a>

</body>
</html>