{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="{% static '../styles/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<div class="center">
    <body>
    <h1>Home Page</h1>
    <form action="/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
        </table>
        <input class="goldbutton" type="submit"/>
    </form>
    {{ message }}
</div>
</body>
</html>
