{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Personal Information</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
    <a href="{% url 'home' %}"><button>Home</button></a><button>Log Out</button>
</header>
<h1>Personal Information</h1>
<div class="center">
    <form action="/EditPersonalInformation/" method="post">


         <table>
            <tr>
                <td>First Name</td>
                <td>{{user.User_fName}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{user.User_lName}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{user.User_LogPass}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{user.User_Address}}</td>
            </tr>
            </tr>
            <tr>
                <td>City</td>
                <td>{{user.User_City}}</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>{{user.User_Phone}}</td>
            </tr>
            </tr>
            <tr>
                <td>Position</td>
                <td>{{user.User_Pos}}</td>
            </tr>
        </table>
    </form>
          <a href="{% url 'editaccount' id=user.id%}"><button class="goldbutton">Edit</button></a>
</div>
</body>
</html>
