{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Personal Information</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
    <a href="{% url 'home' %}"><button>Home</button></a><button>Log Out</button>
</header>
<h1>Personal Information</h1>
<div class="center">
    <form action="/EditPersonalInformation/" method="post">


         <table>
            <tr>
                <td>First Name</td>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{user.password}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{user.address}}</td>
            </tr>
            </tr>
            <tr>
                <td>City</td>
                <td>{{user.city}}</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>{{user.phone}}</td>
            </tr>
            </tr>
            <tr>
                <td>Position</td>
                <td>{{user.positions}}</td>
            </tr>
        </table>
    </form>
          <a href="{% url 'editaccount' id=user.id%}"><button class="goldbutton">Edit</button></a>
</div>
</body>
</html>
