{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Personal Information</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
    <a href="{% url 'home' %}"><button>Home</button></a><button>Log Out</button>
</header>
<h1>Personal Information</h1>
<div class="center">
    <form action="/EditPersonalInformation/" method="post">
        <table>
            <tr>
                <td><label for="first-name">First Name:</label></td>
                <td><input type="text" id="first-name" name="first_name" value="John" readonly></td>
            </tr>
            <tr>
                <td><label for="last-name">Last Name:</label></td>
                <td><input type="text" id="last-name" name="last_name" value="Doe" readonly></td>
            </tr>
            <tr>
                <td><label for="address">Address:</label></td>
                <td><input type="text" id="addressID" name="address" value="123 Blvd" readonly></td>
            </tr>
            <tr>
                <td><label for="phone_number">Phone Number:</label></td>
                <td><input type="text" id="phoneID" name="phone_number" value="123-456-7890" readonly></td>
            </tr>
            <tr>
                <td colspan="2"><h1>Contact Information</h1></td>
            </tr>
            <tr>
                <td><label for="position">Position:</label></td>
                <td><input type="text" id="positionID" name="position" value="TA" readonly></td>
            </tr>
        </table>
        <button type="submit" class="goldbutton">Edit</button>
    </form>
</div>
</body>
</html>
