{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1>User Accounts</h1>
<div class="center">
    <br>
    <a href="{% url 'home' %}">
        <button class="backbutton">Home</button>
    </a>
    <br>
    <a href="{% url 'createaccount' %}">
        <button id="button4" class="goldbutton">Create New Account</button>
    </a>
    <br>
    <br>
    <form action="{% url 'accountbase' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="method" value="searchUser">
        <input type="text" placeholder="Search By Last Name" name="search">
        <input type="submit"/>
    </form>
    <br>
    <form action="{% url 'accountbase' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="method" value="filterUser">
        <select name="position">
            <option disabled selected>Filter By Course</option>
            <option>All Roles</option>
            <option>Teaching Assistant</option>
            <option>Professor</option>
        </select>
        <input type="submit"/>
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Courses</th>
            <th>Sections</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.User_fName }} {{ user.User_lName }}</td>
                <td>{{ user.User_Pos }}</td>
                <td>{{ user.User_Pos }}</td>
                <div style="text-align: center;">

                    </td>
                </div>
            </tr>
        {% endfor %}
    </table>
    {{ message }}
</div>
</body>
</html>